.navbar {
    background-color: lightblue;
    padding: 10px;
  }
  
  .nav-list {
    list-style: none;
    margin: 0;
  }
  
  .nav-item {
    display: inline-block;
    margin-right: 20px;
  }
  
  .nav-link {
    text-decoration: none;

    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .nav-link:hover {
    background-color: whitesmoke;
  }

  .nav-logo{
    color:darkblue;
    display: inline-block;
    margin-right: 20px;
  }
  .dropdown{
    display: inline-block;
    margin-right: 20px;
  }
  .dropdown button{
    background-color: lightblue;
    align-items: flex-end;
  }