/* Navbar.css */
.navbar {
    background-color: lightblue;
    padding: 10px;
  }
  
  .nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .nav-item {
    display: inline-block;
    margin-right: 10px;
  }
  
  .nav-link {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .nav-link:hover {
    background-color: whitesmoke;
  }
  